.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(37, 37, 37);
  color: white;
}

.item-box {
  color: black;

}

p {
  color: white;
}

.item-container {
  display: flex;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;

}

.arrow-icon {
  width: 100%;
}

.time-stamp-box {

  padding-left: 0px;

}



.time-stamp {
  color: white;
  border-bottom: solid 1px rgb(248, 249, 250);
  margin-bottom: 1%;
  padding: .75%;
  text-align: right;
}

.desc {
  margin-top: 1%;
  color: white;
  background-color: rgb(64, 64, 64);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: .75%;
}

.name {
  color: white;
  border-bottom: solid 1px rgb(248, 249, 250);
  margin-bottom: 1.5%;
  padding: .75%;
}

.name-box {
  padding-right: 0px;
}

.label {
  color: rgb(150,150,150);
}
.form-button{
  border-radius: 6px;
  width: 50%;
  margin-left: 25%;
}

.form-title > h5{
  text-align:center;
  margin-bottom: 0;
  color: white;
}

.name-input{
  color: black;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: solid black 2px;
}

.item-array {
  padding: 0;

}

.item-block {
  background-color: rgb(57, 57, 57);
  margin-left: 5%;
  margin-right: 5%;
}


.item-listing {
  margin-bottom: 30px;
  width: 65%;
  background-color: rgb(37, 37, 37);
}


.home-page {
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow {
  width: 100%;
}

.results{
  text-align: center;
  margin-bottom: 0;
}

.item-select {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(200,200,200);
  
}

.home-page>* {
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
}

.home-image {
  width: 50%;

}


.Uncommon {
  color: rgb(98, 190, 11);
}

.Rare {
  color: rgb(74, 155, 209);
}

.Epic {
  color: rgb(173, 90, 255);
}

.Legendary {
  color: rgb(247, 162, 45);
}

.Unique {
  color: rgb(227, 216, 140)
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  background-color: rgb(10, 10, 10);
}

.App-link {
  color: #61dafb;
}

.delete-button{
  border: none;
  background: none;
  padding: 0;
  padding-left: 15px;
}

.delete-button:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}